.home-content{
    width: 80vw;
    height: 95vh;
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: #F1F8E8;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    position:fixed;
    top: 4rem;
}